.user_address{
    
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
}
.user_address > li{
    font-weight: 700;
    font-size:13px;
    color: #333333;
    list-style-type:none
}
.address__edit {
    width: 100%;
    max-width: 350;
}
.address__edit > button{
    margin-right: 5px;
    padding-right: 5px;
}
.deliver__button {
    display: flex;
    border: 1px solid;
    border-radius: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #f0c14b;
    border-color: #a88734 #9c7e31 #846a29;
    color: black;
    font-size: 15px;
}