.checkout__product{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.product__image >img{
    object-fit: contain;
    width: 220px;
    height: 220px;
}

.product__details{
    padding-left: 30px;
}

.product__details p button{
    background: #f0c14b;
    margin-top: 10px;
    border: 1px solid;
    border-radius: 3px;
    border-color: hsl(43, 53%, 43%) #9c7e31 #846a29;
    color:#111;
}
.product__price{
    margin-left: auto;
    font-size: 28px;
    font-weight: 400;
    line-height: 16px;
}