.checkout{
    display: flex;
    padding:20px;
    background-color: white;
    height: max-content;
}

.checkout__title{
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    padding: 10px;

}
.checkout__list > img{
    width: 100%;
    object-fit: contain;
}

.checkout__details{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid lightgray;
    width: 100%;
}
.checkout__details > small{
    font-size: 16px;
    line-height: 20px;
    margin-top: 15px;
    color: gray;
    margin-left: auto;
}

.subtotal__value{
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    font-size: 22px;
    font-weight: 400;
}