.home{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
}

.home__row{
    display: flex;
    z-index: 1;
    margin-left: 5px;
    margin-right: 5px;
}

.home__image{
    z-index:-1;
    width: 100%;
    margin-bottom: -320px;
    mask-image: linear-gradient(to bottom, rgb(0,0,0,1), rgba(0,0,0,1));
}