.delivery__details{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    max-width: 100%;
}

.delivery__details > h4 {
    margin: 10px;
    padding: 20px;
    margin-left: 15rem;
    font-size: 28px;
    font-weight: 300;
    color: #313;
    border-bottom: 1px solid lightgray;
    text-align: start;
    width: 100%;
    max-width: 30rem;

}

.newaddress_container{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}

.newaddress_container > h4 {
    margin: 10px;
    padding: 20px;
    margin-left: 15rem;
    font-size: 28px;
    font-weight: 300;
    text-align:start;
    color: #313;
    border-bottom: 1px solid lightgray;
    width: 100%;
    max-width: 30rem;
}

.address__card{
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 20px;
    margin-left: 15rem;
}