.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    z-index: 1;
    margin: 10px;
    padding: 20px;
    max-height: 400px;
    min-width: 100px;
    background-color: white;
    width: 100%;
    
}

.product > img{
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

.product >button{
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: black;
}

.product__price{
    margin-top: 5px;
}

.product__rating{
    margin-top: 10px;
    margin-bottom: 10px;
}

.product__detail{
    height: 100px;
    margin-bottom: 15px;
}