a{
    text-decoration: none ;
}

.register {
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.register__logo{
    width: 100px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    object-fit: contain;
}

.register__container{
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 20px;
    width: 400px;
    height: fit-content;
}


.register__container > form > h5{
    margin-top: 10px;
    margin-bottom: 5px;
}

.register__container > h1{
    font-size: 22px;
    font-family:Arial;
    margin-top: 10px;
    margin-bottom: 20px;
}

.input__email{
    height: 30px;
    margin-top: 5px;
    width: 95.5%;
    object-fit: contain;
}
.register__button{
    background: #f0c14b;
    margin-top: 25px;
    margin-bottom: 30px;
    border: 1px solid;
    border-radius: 3px;
    width: 100%;
    background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
}

.login__button{
    height: 32px;
    background: #e7e9ec;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid;
    border-color: #adb1b8 #a2a6ac #8d9096;
    border-radius: 3px;
    width: 100%;
    color: #111;
    font-size: 13px;
    text-align: center;
    text-decoration: none !important;
}

.divider > h5{
    margin-top: 30px;
    text-align: center;
    color: #767676;
}
.divider__line{
    margin-top: 20px;
    margin-bottom: 10px;
    border-bottom: 2px solid lightgray;
    width: 440px;
}