.subtotal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height:100px;
    padding:10px;
    background-color: #f3f3f3;
    border: 1px solid #dddddd;
    border-radius: 5px;
}

.subtotal__gift{
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.subtotal > button{
    background: #f0c14b;
    padding: 3px;
    border: 1px solid;
    border-radius: 5px;
    border-color: #a88734 #9c7e31 #846a29;
    width: 100%;
    color:#111
    
}